footer {
  display: flex;
  background: #c7c7c7;
  flex-wrap: wrap;
  padding: 10px 30px;
}
.footer-company,
.footer-customer,
.footer-store {
  flex: 33%;
  line-height: 30px;
}
.footer-title {
  margin-bottom: 20px;
  text-transform: capitalize;
}
