@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: #252a2b;
  font-weight: 900;
  font-family: Quicksand;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  width: 100%;
  padding: 0 30px;
}
.img-fluid {
  max-width: 100%;
}
.text-center {
  text-align: center;
  align-items: center;
}
h4 {
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  padding: 10px 20px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  transition: 1.2s;
  background: linear-gradient(to right, #bfc7c7 50%, lightblue 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  font-size: 18px;
  font-family: Quicksand;
  font-weight: 900;
  cursor: pointer;
}
.btn-add-to-cart:hover {
  background-position: left bottom;
  color: #fff;
}
/* loading */
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #0000;
}
.loading span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  color: #fff;
}
/* end-loading */
/* homePage */
.home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
aside {
  flex: 20%;
}

main {
  flex: 80%;
}
.products {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
/* end-homePage */

/* cart */
.cart {
  margin: 10px 0;
}
table {
  background: #fff;
  padding: 10px 30px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cart-img {
  width: 200px;
  height: 120px;
  object-fit: contain;
}
.cart-qty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-qty input {
  width: 30px;
  height: 30px;
  align-items: center;
  border: 1px solid #e5e5e5;
  text-align: center;
}
.btn-increase {
  align-items: center;
  text-align: center;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.btn-decrease {
  width: 30px;
  height: 30px;
  align-items: center;
  text-align: center;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.cart-remove {
  color: red;
  cursor: pointer;
}
.cart-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.cart-total-price {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 24px;
}

.show {
  display: block;
}
.btn-home,
.btn-order {
  margin: 0 20px;
}
.btn-home:hover,
.btn-order:hover {
  background-position: left bottom;
  color: #fff;
}
/* end-cart */

/* login and register */
.login {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.login-title {
  flex-basis: 50%;
  font-size: 4rem;
}
.login-form {
  flex-basis: 50%;
  align-items: center;
  padding: 40px 100px;
  border-left: 1px solid;
}
.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: Quicksand;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  border-style: solid;
  color: #495057;
  font-size: 16px;
  line-height: 21px;
}
.login-form-control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.btn-login:hover,
.btn-register:hover {
  background-position: left bottom;
  color: #fff;
}
.link {
  color: #007ff5;
}
/* end-login-and-register */
