@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #252a2b;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 100%;
  padding: 0 30px;
}
.img-fluid {
  max-width: 100%;
}
.banner {
  padding-top: 78px;
}
h4 {
  font-size: 1.25rem;
}
